input {
    margin-bottom: 3px;
}

.btn-primary {
    background-color: deepskyblue;
}
.form-group {
    margin-bottom: 10px;
}
.btn {
    border-radius: 21px;
}
.ggm-container {
    margin-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
body {
    padding-top: 60px;
    padding-bottom: 80px;
}
th {
    width:100%;
}
p.navbar-text.pull-right {
    margin-right: 15px;
}
p.navbar-text.pull-left {
    margin-left: 15px;
}
span.glyphicon-eye-open {
    margin-left: 8px;
}
li.list-group-item {
    border: 1px transparent;
}
.ggm-widget-tool {
    position: absolute;
    right: 0;
    background-color: white;
    padding-left: 5px;
    border-bottom: 5px;
    border-bottom-left-radius: 8px;
}

.ggm-widget {
    padding-left: 8px;
    padding-right: 8px;

}
/* Grabbed this from http://stackoverflow.com/a/17465040*/
.auto-resizable-iframe {
    max-width: 420px;
    margin: 0 auto;
}

.auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 75%;
    height: 0;
}

.auto-resizable-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}