<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.user._id}}/">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a class="navbar-link">
                    <a href="#/user/{{model.user._id}}/">
                        <span class="glyphicon glyphicon-user">
                        </span>
                    </a>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="UserName"/>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email"
                   type="email"
                   class="form-control"
                   id="email"
                   placeholder="Email@Email.com"/>
        </div>
        <div class="form-group">
            <label for="first">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="first"
                   placeholder="FirstName"/>
        </div>
        <div class="form-group">
            <label for="last">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text"
                   class="form-control"
                   id="last"
                   placeholder="LastName"/>
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#/login/{{model.user._id}}/website">Applications</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Logout</a>
    <a class="btn btn-danger btn-block"
        ng-click="model.deleteUser()">DELETE USER</a>
</div>
