<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widgets</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable = no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#" class="navbar-link">
                    <a href="../page/page-list.html">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                    </a>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-chooser.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <span class="glyphicon glyphicon-play">
                </span>
                <span class="glyphicon glyphicon-eye-open">
                </span>
            </p>
            <p class="navbar-text pull-right">
                <a href="#" class="navbar-link">
                    <a href="../user/profile-view.client.html">
                        <span class="glyphicon glyphicon-user">
                        </span>
                    </a>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="ggm-widget">
    <div class="ggm-widget-tool">
        <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog">
                </span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger">
        </span>
    </div>
    <h1>Cowboy Bebop</h1>
</div>

<div class="ggm-widget">
    <div class="ggm-widget-tool">
        <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog">
                </span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger">
        </span>
    </div>
    <h4>Whatever happens, happens</h4>
</div>

<div class="ggm-widget">
    <div class="ggm-widget-tool">
        <a href="widget-image.html">
                <span class="glyphicon glyphicon-cog">
                </span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger">
        </span>
    </div>
    <img width="100%" src="http://i.imgur.com/BfCqfDH.gif">
</div>

<div class="ggm-widget">
    <div class="ggm-widget-tool">
        <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog">
                </span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger">
        </span>
    </div>
    <p><em>Cowboy Bebop</em>. Uttering those two words to casual and diehard anime fans alike often elicits an enthusiastic response. Since the series’ end in 1996, <em>Cowboy Bebop </em>became the cool, new gateway anime, a project that preferred to emulate western fiction over Japanese anime conventions and that offered a sci-fi world that didn’t seem so far-fetched.</p>
</div>

<div class="ggm-widget">
    <div class="ggm-widget-tool">
        <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog">
                </span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger">
        </span>
    </div>
    <h4>Soundtrack</h4>
</div>

<div class="ggm-widget">
    <div class="ggm-widget-tool">
        <a href="widget-youtube.html">
                <span class="glyphicon glyphicon-cog">
                </span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger">
        </span>
    </div>
    <iframe
            width="100%"
            src="https://www.youtube.com/embed/Aw3fN3OPk3A"
            frameborder="0"
            allowfullscreen>
    </iframe>
</div>

<div class="ggm-widget">
    <div class="ggm-widget-tool">
        <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog">
                </span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger">
        </span>
    </div>
    <p>But another integral aspect of <em>Cowboy Bebop </em>that, although it often gets acknowledged, doesn’t receive the same analysis as other notable parts of the series, is its soundtrack. You come to <em>Cowboy Bebop </em>for a compelling and complex narrative, and stay for the bangers: blues bangers, bossa nova bangers, heavy metal bangers, jazz bangers and J-pop bangers. The eclectic collection of music complemented the show so well. The image of anti-hero Spike Spiegel fighting drug dealer Asimov Solensan wouldn’t be the same, for instance, without the hard bop of “Rush.” And of course there’s the anime’s now-famous theme song, “Tank,” a hard-hitting jazz track that’s just as important as the series itself.</p>
</div>
</body>
</html>