<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="navbar-link navbar-brand">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok header-glyphicon"></span>
                </a>
            </p>
            <a class="navbar-brand"
               href="">
                Edit Widget
            </a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user header-glyphicon"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-switch="model.widget.type">

        <div ng-switch-when="HEADER">
            <!-- <div ng­include="'/assignment/views/widget/widget­heading.view.client.html'"></div> -->
            <form>
                <div class="form-group">
                    <label for="nameHEADER">Name</label>
                    <input type="text"
                           class="form-control"
                           id="nameHEADER"
                           ng-model="model.widget.name">
                </div>
                <div class="form-group">
                    <label for="textHEADER">Text</label>
                    <input type="text"
                           class="form-control"
                           id="textHeader"
                           ng-model="model.widget.text">
                </div>
                <div class="form-group">
                    <label for="sizeHEADER">Size</label>
                    <input type="text"
                           class="form-control"
                           id="sizeHEADER"
                           ng-model="model.widget.size">
                </div>
            </form>
        </div>
        <div ng-switch-when="IMAGE">
            <!-- <div ng­include="'/assignment/views/widget/widget­image.view.client.html'"></div> -->
            <form>
                <div class="form-group">
                    <label for="nameImg">Name</label>
                    <input type="text"
                           class="form-control"
                           id="nameImg"
                           ng-model="model.widget.name">
                </div>
                <div class="form-group">
                    <label for="textImg">Text</label>
                    <input type="text"
                           class="form-control"
                           id="textImg"
                           ng-model="model.widget.text">
                </div>
                <div class="form-group">
                    <label for="urlImg">URL</label>
                    <input type="text"
                           class="form-control"
                           id="urlImg"
                           ng-model="model.widget.url">
                </div>
                <div class="form-group">
                    <label for="widthImg">Width</label>
                    <input type="text"
                           class="form-control"
                           id="widthImg"
                           placeholder="100%"
                           ng-model="model.widget.width">
                </div>

            </form>
            <form action="/api/upload"  method="post" enctype="multipart/form-data">
                <input  name="myFile"   type="file" class="form-control"/>
                <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
                <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
                <input  name="pageId" value="{{model.pageId}}" style="display: none"/>
                <input  name="websiteId" value="{{model.websiteId}}" style="display: none"/>
                <input  name="userId" value="{{model.userId}}" style="display: none"/>
                <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
            </form>
            <a ng-click="model.flickrNavigation()"
               href=""
               class="btn btn-block btn-primary bmd-margin-top-10">Search Flickr</a>
        </div>

        <div ng-switch-when="YOUTUBE">
            <!-- <div ng­include="'/assignment/views/widget/widget­youtube.view.client.html'"></div> -->
            <form>
                <div class="form-group">
                    <label for="nameYOUTUBE">Name</label>
                    <input type="text"
                           class="form-control"
                           id="nameYOUTUBE"
                           ng-model="model.widget.name">
                </div>
                <div class="form-group">
                    <label for="textYOUTUBE">Text</label>
                    <input type="text"
                           class="form-control"
                           id="textYOUTUBE"
                           ng-model="model.widget.text">
                </div>
                <div class="form-group">
                    <label for="urlYOUTUBE">URL</label>
                    <input type="text"
                           class="form-control"
                           id="urlYOUTUBE"
                           ng-model="model.widget.url">
                </div>
                <div class="form-group">
                    <label for="widthYOUTUBE">Width</label>
                    <input type="text"
                           class="form-control"
                           id="widthYOUTUBE"
                           ng-model="model.widget.width">
                </div>
            </form>
        </div>
        <div ng-switch-default>
            <!-- <div ng­include="'/assignment/views/widget/widget­heading.view.client.html'"></div> -->
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           ng-model="model.widget.name">
                </div>
                <div class="form-group">
                    <label for="text">Text</label>
                    <input type="text"
                           class="form-control"
                           id="text"
                           ng-model="model.widget.text">
                </div>
                <div class="form-group">
                    <label for="size">Size</label>
                    <input type="text"
                           class="form-control"
                           id="size"
                           ng-model="model.widget.size">
                </div>
            </form>
        </div>

    </div>

    <a ng-click="model.deleteWidget()"
       class="btn btn-block btn-danger">Delete</a>
</div>