<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
                   class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand"
                   href="">
                    Widgets
                </a>
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-plus header-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <div class="container">

        <div ng-repeat="widget in model.widgets" ng-switch="widget.widgetType">
            <div class="bmd-widget-edit">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"
                >
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>

            <div ng-switch-when="HEADER"
                 class="bmd-widget">

                <div ng-switch="widget.size">
                    <h1 ng-switch-when="1">{{widget.text}}</h1>

                    <h2 ng-switch-when="2">{{widget.text}}</h2>

                    <h3 ng-switch-when="3">{{widget.text}}</h3>

                    <h4 ng-switch-when="4">{{widget.text}}</h4>

                    <h5 ng-switch-when="5">{{widget.text}}</h5>

                    <h6 ng-switch-when="6">{{widget.text}}</h6>

                    <p ng-switch-default>{{widget.text}}</p>
                </div>
            </div>
            <div ng-switch-when="HTML"
                 class="bmd-widget"
                 ng-bind-html="model.getTrustedHtml(widget)">
            </div>
            <div ng-switch-when="IMAGE"
                 class="bmd-widget">
                <img
                        ng-src="{{widget.url}}"
                        width="{{widget.width}}">
            </div>
            <div ng-switch-when="YOUTUBE"
                 class="bmd-widget">
                <iframe width="{{widget.width}}"
                        height="auto"
                        ng-src="{{model.getTrustedUrl(widget)}}"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
            <div ng-switch-default
                 class="bmd-widget">
                <p>{{widget.text}}</p>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user header-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>