<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#user/{{model.user._id}}/tournament">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
            </a>
            <a class="navbar-brand topnav" href="#home">F Tourney</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="currentUser">
                    <a href="#login">login</a>
                </li>
                <li ng-hide="currentUser">
                    <a href="#register">register</a>
                </li>
                <li ng-show="currentUser">
                    <a href="#user/{{model.user._id}}/tournament">tournaments</a>
                </li>
                <li ng-show="currentUser">
                    <a href="#user">profile</a>
                </li>
                <li ng-show="currentUser">
                    <a href="#logout">logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">'
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="name">Tournament Name</label>
            <input ng-model="model.tournament.name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="Name"
                   readonly="readonly"/>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input ng-model="model.tournament.location"
                   type="text"
                   class="form-control"
                   id="location"
                   placeholder="My Club"
                   readonly="readonly"/>
        </div>
        <div class="form-group">
            <label for="description">Tournament Description</label>
            <textarea ng-model="model.tournament.description"
                      rows="5"
                      id="description"
                      class="form-control"
                      readonly="readonly">
            </textarea>
        </div>
        <h4>Fencers Signed Up</h4>

        <table class="table ">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="fencer in model.fencers">
                <td>{{fencer.fencer.username}}</td>
            </tr>
            </tbody>

        </table>
    </form>
</div>