<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#home">F Tourney</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="currentUser">
                    <a href="#login">login</a>
                </li>
                <li ng-hide="currentUser">
                    <a href="#register">register</a>
                </li>
                <li ng-show="currentUser">
                    <a href="#user/{{model.user._id}}/tournament">tournaments</a>
                </li>
                <li ng-show="currentUser">
                    <a href="#user">profile</a>
                </li>
                <li ng-show="currentUser">
                    <a ng-click="model.logout()">logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <form>
        <div ng-if="model.error" class="alert alert-danger">
            {{model.error}}
        </div>
        <div class="form-group">
            <label for="name">Website Name</label>
            <input ng-model="model.tourn.name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="Blog to End ALL Blogs"/>
        </div>
        <div class="form-group">
            <label for="description">Website Description</label>
            <textarea ng-model="model.tourn.description"
                      rows="5"
                      id="description"
                      class="form-control">
                Cardigan stumptown fixie pork belly est tofu. Kickstarter bicycle rights heirloom, tacos aesthetic letterpress celiac jean shorts elit plaid iPhone. Artisan deep v hella, banh mi direct trade nostrud tofu sapiente lo-fi voluptate exercitation jean shorts kombucha ea. Duis meditation next level pug, sartorial photo booth id fap locavore YOLO minim cillum austin placeat. Tote bag aliquip kickstarter, helvetica master cleanse man bun franzen freegan godard consequat assumenda cardigan poutine. Try-hard est occupy, church-key schlitz nostrud raw denim excepteur culpa typewriter mustache. Mollit tofu fap, nesciunt qui viral do blog bitters.
            </textarea>
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWebsite()"
       href="">Delete</a>
</div>