<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateTournament(name, description)" href="" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
            <a class="navbar-brand topnav" href="#user/{{model.user._id}}/tournament">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
            </a>
            <a class="navbar-brand topnav" href="#home">F Tourney</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="currentUser">
                    <a href="#login">login</a>

                    <a href="#register">register</a>
                </li>
                <li ng-show="currentUser">
                    <a href="#user/{{model.user._id}}/tournament">tournaments</a>
                </li>
                <li ng-show="currentUser">
                    <a href="#user">profile</a>
                </li>
                <li ng-show="currentUser">
                    <a ng-click="model.logout()">logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="name">Tournament Name</label>
            <input ng-model="model.tournament.name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input ng-model="model.tournament.location"
                   type="text"
                   class="form-control"
                   id="location"
                   placeholder="My Club"/>
        </div>
        <div class="form-group">
            <label for="description">Tournament Description</label>
            <textarea ng-model="model.tournament.description"
                      rows="4"
                      id="description"
                      class="form-control">Enter Your Description Here
            </textarea>
        </div>
        <h4>Fencers</h4>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            <tr>
                <th><input ng-model="fencer.name" class="form-control"/></th>
                <!--<th><input ng-model="course.start" type="date" class="form-control"/></th>-->
                <th>
                    <button ng-click="model.addFencer(fencer)" class="btn btn-primary">Add</button>
                    <!--<button ng-click="updateCourse(course)" class="btn btn-primary btn-success">Update</button>-->
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="fencer in model.tournament.fencers">
                <td>{{fencer.name}}</td>
                <td>
                    <button ng-click="model.removeFencer(fencer)" class="btn btn-danger">Remove</button>
                    <!--<button ng-click="selectCourse($index)" class="btn btn-info">Select</button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>